
/* Zmienne */
:root {
  /* Szerokosc obwodek */
  --border_width_small: 5px; 
  --border_width_wide: 10px;
  /* Kolory */

  /* Tlo */
  --Backgorund_color: rgba(0, 0, 0, 0.915);

  /* kolor tla w logo */
  --First_color: rgb(255, 255, 255);

  /* Kolor obwodek/dodatkowy */
  --Second_color: rgba(117, 11, 210, 0.975);

  /* Kolor tla gornej belki nawigacji */
  --Header_color: #000000;

  /* kolor tekstu  */
  --Text_color: rgb(252, 252, 252);

  /* kolor polprzezroczystego tekstu */
  --Transparent_text_color: rgba(217, 217, 217, 0.541);

  /* kolor wypelnienia tla elementow */
  --Background_element_color:rgba(0, 0, 0, 0.755);

  /* czcionka glowna mniejsza */
  --Font_first:'Gabarito', sans-serif;

  /* czcionka dodatkowa wieksza */
  --Font_second: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* pasek przewijania strony */

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  overflow: hidden;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--Second_color);
}

::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
}


/* punktatory */
li {
  list-style: square inside;
  text-align: left;
}

li::marker {
  color: var(--Second_color);
}

/* ikonki zewnetrzne */
.fa-sharp {
  color: var(--Second_color);
  word-spacing: 10px;
}

/* margines do scrollowania */

/* Wyposazenie, transport, kontakt */
#Deposit, #pricing, #Acces {
  scroll-margin-top: 100px;
}

/* gora strony - po klikniecu w logo */
#top {
  scroll-margin-top: 150px;
}

/* tlo strony */
body {
  /* Kolor tla */
  background-color: var(--Backgorund_color); 
  /* marginesy wewnetrzne */
  padding: 0px;
  /* pattern tla */
  background-image: url('images/Korpand_background_pattern.svg');
  background-blend-mode: multiply;
  /* wielkosc patternu */
  background-size: 125px;
}

/* gorna belka nawigacji (element HTML)*/
header {
  position: sticky;
  top: 0;
  position: sticky;
  align-self: auto;
  z-index: 5;
  margin-left: 70px;
  margin-right: auto;
  width: 90%;
}

/* belka nawigacji - pasek obwodka */
#Header {
  background-color: var(--Second_color);
  width: 90vw;
  height: 120px;
  z-index: 5;
  clip-path: polygon(0 0, 95% 0, 100% 100%, 100px 100%);
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* belka nawigacji - tlo */
#Logo_back {
  background-color: var(--Header_color);
  width: 90vw;
  height: 120px;
  clip-path: polygon(0 0, 94.3% 0, 99% 92%, 90px 91%);
  padding: 0px;
  margin: 0px;
  float: inherit;
}

/* tlo logo maska*/
#Logo_Shadow {
  width: 400px;
  height: 110px;
  background-color: var(--Second_color);
  clip-path: polygon(0px 0px, 400px 0, 100% 100%, 0% 100%);
  padding: 0px;
  text-align: center;
  margin: 0px;
}

/* tlo logo kolor*/
#Logo_Shadow {
  background-color: var(--First_color);
  width: 500px;
  margin: 0px;
}

/* logo */
#Logo_SVG {
  padding-top: 25px;
  padding-left: 95px;
  width: 80%;
}


/* zakladki w gornej belce */
.Equipment,
.Acces,
.Pricing,
.Contact {
  position: absolute;
  z-index: 500;
  float: inline-end;
  margin-bottom: 50px;
  padding-bottom: 50px;
  width: 200px;
  padding-top: 42.5px;
  text-align: center;
  color: var(--Text_color);
  font-size: 22px;
  float: left;
  font-family: var(--Font_first);
}

/* zakladki w gornej belce (skalowanie) */
@media (min-width: 1000px) and (max-width: 1200px) {
  .Equipment {
    margin-top: 8px;
    margin-left: 500px;
    font-size: 15px;
  }

  .Acces {
    margin-top: 8px;
    font-size: 15px;
    margin-left: 620px;
  }

  .Contact {
    margin-top: 8px;
    font-size: 15px;
    margin-left: 720px;
  }
}



@media (min-width: 1220px) and (max-width: 1440px) {
  .Equipment {
    margin-left: 500px;
  }

  .Acces {
    margin-left: 750px;
  }


  .Contact {
    margin-left: 1000px;
  }
}

@media (min-width: 1400px) and (max-width: 1919px) {
  .Equipment {
    margin-left: 500px;
  }

  .Acces {
    margin-left: 800px;
  }

  .Contact {
    margin-left: 1100px;
  }
}

@media (min-width: 1910px) {
  .Equipment {

    margin-left: 30vw;
  }

  .Acces {
    margin-left: 51vw;
  }
  .Contact {
    margin-left: 70vw;
  }
}

/* podkreslenie po najechaniu na zakladke */
.Equipment::before,
.Acces::before,
.Pricing::before,
.Contact::before,
.Language::before {
  content: "";
  position: absolute;
  margin-top: 30px;
  width: 0;
  height: 5px;
  background-color: var(--Second_color);
  bottom: 150;
  left: 50;
  transition: width 0.5s;
}

.Acces:hover::before {
  background-color: var(--Second_color);
}

.Equipment:hover::before {
  width: 79%;
}

.Acces:hover::before {
  width: 65%;
}

.Pricing:hover::before {
  width: 44%;
}

.Contact:hover::before {
  width: 54%;
}


/* gora strony - klip */
#Baner {
  margin-top: -7%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: var(--Transparent_text_color);
  height: 103vh;
  min-height: 1100px;
  max-height: 1500px;
  background-color: #989898;
  background-image: url('images/Backgorund_movie.gif');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* napisy poczatkowe */
#Baner_text {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 90%;
  padding-top: 25vh;
  padding-block-end: 300px;
  text-align: center;
}

#Baner_img {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

#Banner_line {
  width: 78%;
}

/* tytul strony */
h1 {
  letter-spacing: 10px;
  font-size: 60px;
  text-align: left;
  font-family: var(--Font_second);
  font-weight: 800;
  color: var(--Transparent_text_color);
}
/* opis strony */
h2 {
  margin-top: 80px;
  z-index: 50;
  font-size: 30px;
  letter-spacing: 5px;
  font-family: var(--Font_second);
  font-weight: 400;
  line-height: 50px;
  text-align: justify;
  color: var(--Transparent_text_color);
}

/* ceny */
h3 {
  z-index: 50;
  font-size: 22px;
  letter-spacing: 5px;
  font-family: var(--Font_second);
  font-weight: 300;
  line-height: 50px;
  text-align: left;
}

/* komentarze opcji */
h4 {
  z-index: 50;
  font-size: 10px;
  letter-spacing: 5px;
  font-family: var(--Font_second);
  font-weight: 300;
  line-height: 30px;
}

/* wyposażenie (glowne) */
#Deposit {
  margin-left: auto;
  margin-right: auto;
  color: var(--Text_color);
  min-height: 1000px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* transport (glowne) */
#Acces_main {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: var(--Text_color);
  height: fit-content;
  width: 100%;
 
}

/* opcje wyposażenia */
#Deposit_1,
#Deposit_2,
#Deposit_3{
  
  height: calc(fit-content+20px);
  min-height: 600px;
  max-height: 1100px;
  background-color: #000000;
  width: 28%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  border: 2px solid var(--Second_color);
  border-radius: 50px;
  
}

.deposit_line
{
  border-width: 4px;
  border-style: solid;
  border-color: var(--Second_color);
}

#Deposit_line_1
{
  width: 720px;
}

#Deposit_line_2
{
  width: 520px;
}

#Deposit_line_3
{
  width: 580px;
}

#Deposit_line_4
{
  width: 520px;
}

/* nazwa zestawu */
.Deposit_title {
  margin-bottom: 10px;
  margin-top: 50px;
  background-color: #000000;
  text-align: center;
  font-size: 40px;
  font-family: var(--Font_second);
  font-weight: 500;
  /* letter-spacing: 8px; */
  
}

/* przycisk "wybierz" zestaw */
#choose_button1, #choose_button2, #choose_button3 {
  font-family: var(--Font_second);
  cursor: pointer;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: 5px solid var(--Second_color);
  border-radius: 40px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
  font-weight: 500;
  letter-spacing: 8px;
  z-index: 50;
  padding: 10px 20px;
  transition: width 0.5s ease-in-out; 

}

#choose_button1:hover, #choose_button2:hover, #choose_button3:hover {
  width: 99%; /* Powiększamy outline na hover */
}

/* komentarz do wybrania zestawu */
#disclaimer {
  color: var(--Text_color);
  text-align: justify;
  line-height: 25px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-left: 250px;
  margin-top: 50px;
  min-height: 400px;
  padding-bottom: 0px;
  font-family:  var(--Font_second);
  font-weight: 200;
  letter-spacing: 2px;
  float:left;
}

/* komentarz do transportu */
#Acces_info {
  font-style: italic;
  color: var(--Transparent_text_color);
  text-align: justify;
  line-height: 35px;
  width: 40%;
  margin-left: 60%;
  margin-right: auto;
  height: 450px;
  font-size: 18px;
  font-weight: 300;
  font-family:  var(--Font_second);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  /* background-color: aqua; */
}

:root {
  --min-line-height: 2;
  --max-line-height: 2.3;
}

/* opis zestawu */
.Deposit_TXT {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 70%;
  height: auto;
  min-height: 500px;
  max-height: 700px;
  font-size: 17px;
  text-align: justify;
  font-family: var(--Font_second);
  font-weight: 200;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 5px;
  
}

/* porgubienie */
b {
  font-weight: 400;
}

/* dodatki */
#Accessories_box {
  height: fit-content;
  width: 40%;
  float: left;
  min-height: 500px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  
}

#Accessories,
#Accessories2,
#Accessories3 {
  border-radius: 40px;
  cursor: pointer;
  width: 80%;
  height: fit-content;
  padding: 1px;
  outline: 3px solid var(--Second_color);
  color: var(--Text_color);
  font-size: 17px;
  text-align: justify;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 50;
  letter-spacing: 5px;
  font-family: var(--Font_second);
  font-weight: 200;
  line-height: 50px;
  text-align: center;
  background-color: var(--Background_element_color);
  margin-left: 10%;
  transition: width 0.5s ease-in-out; 
}


#Accessories:hover, #Accessories2:hover, #Accessories3:hover {
  width: 85%; /* Powiększamy outline na hover */
}
/* cena */
#price {
  margin-top: 80px;
  width: 100%;
  height: 70px;
  color: var(--Text_color);
  text-align: center; /* Wyrównanie tekstu do środka */
  font-size: 30px;
  letter-spacing: 5px;
  font-family: var(--Font_second);
  background-color: #111111;
  font-weight: 200;
  line-height: 70px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 7px solid var(--Second_color);
  border-radius: 10px 10px 5px 5px;
}

/* obrazki zestawu */
.Deposit_IMG {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 60%;
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: center;
}

#Speaker_img {
  text-align: center;
  width: 50%;
}

/* kontakt */
#Contact {
  font-family: 'Archivo', sans-serif;
  
  padding: 50px;
  color: rgb(255, 255, 255);
  
  width: 100%;
  
  letter-spacing: 5px;
  min-height: 350px;
  height: 600px;
  float: left;
  box-sizing: border-box;
}

/* kontakt informacje */
#Contact_info {
  float: left;
  width: 50%;
  color: var(--Text_color);
  box-sizing: border-box;
  background-color: var();
}

/* kontener na info */
#Contact_content {
  color: var(--Text_color);
  text-align: justify;
  line-height: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  font-family:  var(--Font_second);
  font-weight: 200;
  letter-spacing: 2px;
  float: left;
  width: 48%;
  box-sizing: border-box;
  text-align: justify;
  line-height: 40px;
  padding-top: 20px;


}

/* tekst informacji kontaktowych */
.contact_txt {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 50px;
  text-align: left;
  font-size: 30px;
  line-height: 50px;
  width: 100%;
}


#email-link {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 50px;
  text-align: left;
  font-size: 30px;
  line-height: 30px;
  width: 100%;
}

#email-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#regulations {
 
  display: inline-block;
  padding-top: 20px;
  color: var(--Text_color);
  text-decoration: none;
  height: 80px;
  margin-top: 20px;
  width: 400px;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  float: left;
  border: 3px solid var(--Second_color);
  border-radius: 50px;
  transition: width 0.5s ease;
}

#regulations:hover {
 width: 450px;
}

a {
  text-decoration: none;
}
/* tytul */
.Title {
  color: var(--Text_color);
  margin-bottom: 5px;
  margin-top: 180px;
  text-align: left;
  padding-left: 250px;
  font-size: 80px;
  font-family: var(--Font_first);
  font-weight: 500;
}

.Socials1,
.Socials2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: var(--Transparent_text_color);
}

.fa-instagram,
.fa-square-facebook {
  font-size: 50px;
  font-weight: 400;
}

.Socials1 {
  float: left;
  margin-left: 78%;
}

.Socials2 {
  float: right;
  margin-right: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  margin-top: 30px;
  height: 600px;
  width: 55%;
  margin-left: 5%;
  background-color: #000000;
  float: left;
}

/* Styl dla kontenera informacji o trasie */
#route-info {
  width: 40%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  float: left
}

/* Styl dla przycisku Znajdź trasę */
#find_route {
  font-size: 18px;
  float: left;
  width:10%;
  height: 70px;
  
  background-color: #111111;
  color: var(--Text_color);
  padding: 8px 16px;
  border: none;
  border-bottom: 5px solid var(--Second_color);
  cursor: pointer;
  font-family: var(--Font_first);
  margin-top: 20px;
  outline: none;
  background-image: linear-gradient(to right, transparent 50%, var(--Second_color) 50%);
  background-size: 200% 100%;
  
  border-radius: 0px 10px 5px 0px;
  transition: background-position 0.5s;
}

#find_route:hover {
  background-position: -100% 0;
}

/* przycisk restartu */
#restart {
  margin-right: 10px;
  font-size: 20px;
  float: left;
  width: 13.5%;
  height: 70px;
  background-color: var(--Background_element_color);
  color: var(--Text_color);
  padding: 8px 16px;
  border: 2px solid var(--Second_color);
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-bottom: 5px solid var(--Second_color);
  cursor: pointer;
  font-family: var(--Font_first);
  margin-top: 20px;
  outline: none;
}

#restart:hover i {
  animation: rotate360 0.5s linear;
}

@keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}

button:hover {
  background-color: #2a2a2a;
  border-color: #2a2a2a;
}

/* Styl dla pola wprowadzania */
input {
  font-size: 30px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom: 5px solid var(--Second_color);
  border-radius: 0%;
  cursor: pointer;
  font-family: var(--Font_first);
  margin-top: 20px;
  background: var(--Background_element_color);
  color: var(--Text_color);
  background-color: #111111;
  height: 70px;
  border-radius: 10px 0px 0px 5px;
  text-align: center;
}

/* styl podpowiedzi mapy */
input::placeholder {
  color: #ffffff;
}

.svg_icon {
  position: fixed;
  left: 16px;
  fill: #cecece;
  width: 18px;
  height: 18px;
}

#destination {
  width: 70%;
  float: left;
  margin-left: 70px;
}

#suggestions {
  font-family: var(--Font_second);
}

/* Styl dla podpowiedzi adresów */
.pac-container {
  font-family: var(--Font_second);
  color: #000000;
  background-color: #2a2a2a;

}

.pac-item {
  height: 40px;
  font-size: 18px;
  text-align: left;
  font-family: var(--Font_first);
  color: var(--Text_color);
}

.pac-matched {
  font-family: var(--Font_first);
  font-size: 20px;
  color: var(--First_color);
}

.pac-item-query {
  font-family: var(--Font_first);
  color: var(--Text_color);
}

.pac-item:hover {
  background-color: var(--Second_color);
  border-left: 5px solid var(--Second_color);
}

#distance {
  font-family: var(--Font_first);
  color: var(--Transparent_text_color);
  font-size: 20px;
  text-align: center;
 
}

/* cena za transport */
#Dist_price {
  margin-top: 10px;
  font-family: var(--Font_first);
  font-size: 30px;
  text-align: center;
  color: var(--Text_color);
}

#sum_price {
  margin-top: 30px;
  font-family: var(--Font_first);
  font-size: 30px;
  text-align: center;
}

a{
  text-decoration: none;
  color: var(--Text_color);
  color: white;
}
.fa-check{
  color: #07ad15;
}