* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root
{
  --small-text: 20px;
  --button-text-size: 25px;
  --second-color:rgba(117, 11, 210, 0.81);
}

html {
  scroll-behavior: smooth;
}

#Deposit_a {

  scroll-margin-top: 100px;
}

#top {
  scroll-margin-top: 150px;
}

#pricing {
  scroll-margin-top: 100px;
}

#Acces {
  scroll-margin-top: 100px;
}

body {


  background-image: url('images/background_logo.svg');
  background-repeat: initial;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}



header {
  position: sticky;
  top: 0;
  position: sticky;
  z-index: 500;
  align-self: auto;
  
}

.fa-sharp {
  color: rgb(131, 67, 188);
  word-spacing: 10px;
}

.Language {
  display: none;
  background-color: rgb(176, 10, 10);

  
  color: rgb(0, 0, 0);
  position: absolute;
  float: inline-end;
  margin-bottom: 50px;
  padding-bottom: 50px;
  width: 200px;
  padding-top: 42.5px;

  text-align: center;

  font-size: 22px;

}




#Logo_back {
 
  width: 90vw;
  height: 75px;
  clip-path: polygon(11% 98%, 100% 100%, 100% 0, 2% 0);
   
  
}


#Header {
  
  clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
  height: 85px;
  z-index: -5;
  width: 90%;
  
}
#Logo_Shadow {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
 clip-path: none;
   margin-left: auto;
 margin-right: auto;
}

#placeholder {
  width: 500px;
  
}


#Logo_SVG {
  
  padding-top:10px;
  padding-left: 0px;
  width: 230px;
  height: 100%;
 margin-left: auto;
 margin-right: auto;
 
 
 


  

}



.Equipment,
.Acces,
.Pricing,
.Contact,
.Language {
  position: absolute;
  z-index: 500;
  float: inline-end;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 42.5px;
  text-align: center;
  color: white;
  font-size: 22px;
  font-family: 'Gabarito', sans-serif;
  display: none;
  
}



/* Styl po najechaniu na hiperłącze */
.Acces:hover::before {

  background-color: var(--second-color);
}

.Equipment:hover::before {
  width: 79%;
}

.Acces:hover::before {
  width: 65%;
}

.Pricing:hover::before {
  width: 44%;
}

.Contact:hover::before {
  width: 54%;
}

.Language:hover::before {
  width: 25%;
}





/* ////////////////////// */
#Baner {

  margin-top: 8%;

  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: rgb(255, 255, 255);
  height: 750px;
  background-color: rgb(45, 45, 45);
  border-top: 10px solid var(--second-color);
  border-bottom: 10px solid var(--second-color);
  background-image: url('images/DJ.jpg');
  background-size: 50vh;
  background-repeat:repeat;
  background-blend-mode: overlay;

}

#Baner_text {
  margin-left: auto;
  margin-right: auto;
 
  width: 90%;
  height: 750px;
  padding-top: 50px;
  text-align: center;
  align-items: center;

}

#Baner_img {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height:900px;
}





#Banner_line {
  width: 78%;
}

h1 {
  letter-spacing: 10px;
  font-size: 60px;
  font-family: 'Gabarito', sans-serif;

}

h2 {
  margin-top: 80px;
  z-index: 50;
  font-size: 5vw;
  letter-spacing: 3px;
  font-family: 'Archivo', sans-serif;
  font-weight: 200;
  line-height: 40px;
  text-align: justify;
}





#Deposit_1,
#Deposit_2,
#Deposit_3,
#Deposit_4 {

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 25%;

}

#Deposit {

  margin-top: 50px;
  color: rgb(255, 255, 255);
  height: 4500px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: 10px solid var(--second-color);
  justify-content: center;
  align-items: center;

}
.Deposit_title {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  font-size: 10vw;
  font-family: 'Gabarito', sans-serif;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.Deposit_TXT {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-size: var(--small-text);
  text-align: justify;
  font-family: 'Archivo', sans-serif;
  line-height: 50px;
}



#Accessories_box {
  float: inherit;
  width: 80%;
  height: 500px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;

}

#Accessories,
#Accessories2,
#Accessories3 {
  
  cursor: pointer;
  height: 24%;
  outline: 8px solid var(--second-color);
  font-size: var(--button-text-size);
  display: grid;
  place-items: center;
  font-family: 'Archivo', sans-serif;




}

#price {
  cursor: pointer;
  width: 80%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 10px solid var(--second-color);
  background-color: rgba(77, 91, 105, 0.643);
  color: white;
  font-size: var(--button-text-size);
  text-align: center;
  font-family: 'Gabarito', sans-serif;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 50;
  letter-spacing: 5px;
  font-weight: 200;
  line-height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Deposit_IMG {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  /* background-color: rgb(0, 255, 38); */
  width: 95%;

  margin-bottom: 10px;
  margin-top: 10px;
  background-color: crimson;
  text-align: center;
 
}

#Speaker_img {
  width: 65%;
height: auto;
background-color: blue;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}




#Acces_IMG {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
 
  
}

#Map {
  width: 95%;
  align-self: center;
} 

#Acces_TXT {

  width: 100%;
  height: 43%;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--small-text);
  text-align: justify;
  font-family: 'Archivo', sans-serif;
  font-weight: 200;
  
}




#Acces_main {
  margin-top: 50px;
  color: rgb(255, 255, 255);
  height: 700px;
  margin-left: auto;
  margin-right: auto;
 
  border-top: 10px solid var(--second-color);


}

#th_1 {
  padding-left: 25%;
  text-align: left;
  height: 100px;
}

td {
  height: 90px;
}

#Socials
{
  float: right;
  text-align: left;
  

}

#Contact {
  font-family: 'Gabarito', sans-serif;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  height: 15vh;
  background-color: rgb(167, 17, 17);
  width: 90%;
  border-top: 10px solid var(--second-color);
margin-bottom: 70px;
  letter-spacing: 4px;
}

.contact_txt {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
}

.Title {
  color: aliceblue;
  
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  font-family: 'Gabarito', sans-serif;
  font-weight: 500;
}

.Socials1, .Socials2 {
  

  font-family: 'Gabarito', sans-serif;
  font-size: 20px
  
}

.fa-instagram,
.fa-square-facebook {
  font-size: 40px;
}

.Socials1
{
  float: left;
  margin-left: 8%;
}
.Socials2
{
  float: right;
  margin-right: 8%;
}